@model IEnumerable<VillaNumber>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a asp-controller="VillaNumber" asp-action="Create" class="btn btn-secondary"><i class="bi bi-plus-circle"></i>Add VillaNumber</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>VillaNumber</th>
            <th>VillaId</th>
            <th>SpacialDetails</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var villaNumber in Model)
        {
            <tr>
                <td>@villaNumber.Villa_Number</td>
                <td>@villaNumber.VillaId</td>
                <td>@villaNumber.SpacialDetails</td>

                <td>
                    <div>
                        <a asp-controller="VillaNumber" asp-action="Update" asp-route-VillaNumberId="@villaNumber.Villa_Number" class="btn btn-success"><i class="bi bi-pencile-square"></i>Edit</a>
                        <a asp-controller="VillaNumber" asp-action="Delete" asp-route-VillaNumberId="@villaNumber.Villa_Number" class="btn btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>